<h1 class="login_register_form">Login</h1>

<%= form_tag '/login' do %>

  <div class="login_register_form"> Email: <%= text_field_tag :email %> </div>
  <div class="login_register_form"> Password: <%= password_field_tag :password %> </div>
  <div class="login_register_form"> <%= submit_tag "Submit" %> </div>
<% end %>